* {
  --text-color: rgb(38, 38, 38);
  --light-text-color: rgb(241, 241, 241);
  --hover-text-color: rgb(201, 47, 47);
  --nav-link-color: rgb(83, 83, 83);
  --nav-link-hover-color: rgb(190, 133, 123);
  --nav-color: rgb(244, 239, 239);
  --preview-color: rgba(0, 0, 0, 0.596);
  --button-background-color: rgba(87, 87, 87, 0.299);
  --icon-hover-color: rgb(75, 207, 255);
  --shadow-color: rgba(159, 159, 159, 0.132);
}
