* {
  --text-color: rgb(38, 38, 38);
  --light-text-color: rgb(241, 241, 241);
  --hover-text-color: rgb(229, 43, 43);
  --nav-link-color: rgb(83, 83, 83);
  --nav-link-hover-color: rgb(221, 85, 62);
  --nav-color: rgb(235, 235, 235);
  --preview-color: rgba(0, 0, 0, 0.596);
  --button-background-color: rgba(87, 87, 87, 0.299);
  --icon-hover-color: rgb(75, 207, 255);
  --shadow-color: rgba(159, 159, 159, 0.132);
}
