.artwork-gallery {
  flex-wrap: wrap;
  overflow: hidden;
  .container {
    max-width: 80vw;
    justify-content: center;
    img {
      padding: 1.4rem;
      width: 30%;
      // border-radius: 2rem;
      object-fit: cover;
      transition: scale 0.4s ease-in;
      @include tablet-portrait {
        width: 45%;
      }
      @include desktop {
        width: 30%;
      }
      &:hover {
        scale: 105%;
      }
    }
  }
}
