.gallery-container {
  display: flex;
  align-self: start;
  flex-direction: row;
  position: relative;

  @include desktop {
    flex-direction: row;
  }
  .col {
    img {
      display: flex;
      margin-right: 0.4em;
      margin-left: 0.4em;
      margin-bottom: 0.8em;
      padding: 0.5rem;
      min-height: 12vh;
      max-height: 60vh;
      object-fit: cover;
      object-position: center;
      border-radius: 1.3rem;
      transition: scale 0.3s ease-out;
      @include tablet-portrait {
        width: 25vw;
      }

      @include desktop {
        width: 12vw;
      }
      &:hover {
        scale: 105%;
      }
    }
  }
}
