.preview-image {
  display: flex;
  object-fit: cover;
  margin-right: 0rem;
  // background-image: url('/src/img/hq-goat.jpg');
  width: 80vw;
  border-radius: 1rem;
  @include phone {
    min-height: 40vh;
    max-height: 66vh;
  }
  @include tablet-portrait {
    width: 70vw;
    max-height: 80vh;
    transform: translateY(0%);
  }
  @include tablet-landscape {
    width: 58vw;
    max-height: 80vh;
  }
  @include desktop {
    height: 82vh;
    display: flex;
    max-width: 40vw;
  }
}
