.rotate-animation {
  transition: transform 2s ease-out;
}

.rotate-scroll-animation {
  transform: rotate(-60deg);
}

.opacity-animation {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  transition-delay: 0.2s;
}

.opacity-scroll-animation {
  opacity: 1;
}

.ease-in-left-animation {
  opacity: 0;
  transform: translateX(-150);
  transition: transform 0.5s ease-out, opacity 0.2s ease-in;
  transition-delay: 0.1s;
}

.ease-in-left-scroll-animation {
  opacity: 1;
  transform: translateX(0);
}

.ease-in-right-animation {
  opacity: 0;
  transform: translateX(150);
  transition: transform 0.5s ease-out, opacity 0.2s ease-in;
  transition-delay: 0.1s;
}
.ease-in-right-scroll-animation {
  opacity: 1;
  transform: translateX(0);
}

.border-radius-animation {
  border-radius: 0;
  transition: border-radius 0.3s ease-out;
}

.border-radius-scroll-animation {
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
}

.fade-up-animation {
  opacity: 0;
  transform: translateY(120px);
  transition: all 0.3s ease-in, opacity 0.2s ease-in;
}

.fade-up-scroll-animation {
  opacity: 1;
  transform: translateY(0);
}

.zoom-animation {
  opacity: 0;
  //scale: 100%;
  transition: scale 0.3s ease-out, opacity 0.1s ease-in;
  transition-delay: 0.2s;
}

.zoom-scroll-animation {
  opacity: 1;
  //scale: 104%;
}

.border-right-animation {
  border-radius: 1rem;
  transition-delay: 0.2s;
}

.border-right-scroll-animation {
  border-top-right-radius: 40rem;
  border-bottom-right-radius: 40rem;
}

.width-scroll-animation {
  @include desktop {
    width: 16vw !important;
  }
  @include large-desktop {
    width: 25rem !important;
  }
}
