@import 'document-style.scss';
@import 'navigation.scss';

h1 {
  font-size: 6rem;
  padding-bottom: 2rem;
  span {
    color: rgb(201, 47, 47);
  }
}

h2 {
  font-size: 3rem;
}
.welcome-section {
  padding-top: 2rem;
  .container {
    display: flex;
    justify-content: space-around;
    .welcome-image {
      img {
        border-bottom-left-radius: 10rem;
        width: 50rem;
        height: 100%;
      }
    }
  }
}

.about-website {
  .container {
    display: flex;
    justify-content: space-between;
    .project-description {
      margin-right: 10rem;
    }
    .website-images {
      img {
        border-top-right-radius: 15rem;
        border-bottom-right-radius: 15rem;
        width: 70rem;
      }
    }
  }
}

.about-works {
  .container {
    display: flex;
    justify-content: space-around;
    .website-images {
      img {
        width: 50rem;
        transition: 0.6s border-radius ease-in, 0.3s scale ease-out;
        &:hover {
          scale: 103%;
        }
      }
    }
  }
}
