@import 'document-style.scss';
@import 'navigation.scss';
@import '/src/scss/components/scroll-animations.scss';
@import '/src/scss/components/artworksPreview.scss';
@import '/src/scss/components/footer.scss';

.about-animals {
  @include phone {
    padding-top: 8rem;
    padding-bottom: 0;
  }
  .container {
    overflow-x: hidden;
    justify-content: space-around;
    @include phone {
      flex-direction: column-reverse;
    }
    .eyes-container {
      @include phone {
        width: 77vw;
      }
      @include tablet-portrait {
        width: 44vw;
      }
      @include desktop {
        width: 36%;
      }
      @include large-desktop {
        width: 28%;
      }
      img {
        margin: 4rem;
        transition: scale 0.4s ease-out;
        width: 100%;
        @include phone {
          margin: 0;
        }
        @include tablet-portrait {
          margin: 0;
        }
        @include desktop {
          margin: 2rem;
        }
        // &:first-child {
        // @include tablet-portrait {
        //   width: 100vw;
        // }

        // @include desktop {

        // }
        // @include large-desktop {
        //   scale: 130%;
        // }
        // }
        // &:nth-child(2) {
        //   @include tablet-portrait {
        //     width: 100%;
        //   }

        //   @include desktop {
        //   }
        //   &:hover {
        //     scale: 120%;
        //   }
        // }
      }
    }

    .project-description {
      @include phone {
        margin-left: 0;
      }
      margin-left: 8rem;
    }
  }
}
