@import 'mixins.scss';
@import './components/colors.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  // scroll-padding-top: 2rem;
}

body {
  overflow-y: scroll;
  // font-family: 'Cormorant Garamond', serif, 'Spectral', serif;
  font-family: 'Frank Ruhl Libre', serif;

  // font-family: 'Lato', sans-serif;
  background-image: url('/src/img/h1-grain-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  padding-bottom: 2rem;
  font-size: 2.4rem;
  color: var(--text-color);

  @include phone {
    font-size: 2.8rem;
  }
  @include tablet-landscape {
    font-size: 4rem;
  }
  @include desktop {
    font-size: 6rem;
  }
}

h2 {
  font-size: 3rem;
  color: var(--text-color);
}

section {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include phone {
    padding: 3rem 0;
  }
  @include tablet-portrait {
    padding: 5rem 0;
  }
  @include desktop {
    padding: 8rem 0;
  }
  @include large-desktop {
    padding: 12rem 0;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.project-description {
  padding: 7vw;
  color: var(--text-color);
  @include phone {
    max-width: 20rem;
  }
  @include tablet-portrait {
    max-width: 20rem;
  }
  @include tablet-landscape {
    max-width: 30rem;
  }
  @include desktop {
    max-width: 70rem;
    padding: 9.6rem;
  }
  @include large-desktop {
    max-width: 60rem;
  }
  h2 {
    color: rgb(223, 89, 17);
    @include phone {
      font-size: 1.8rem;
    }

    @include tablet-portrait {
      padding-bottom: 1rem;
      font-size: 2.3rem;
    }
    @include tablet-landscape {
      font-size: 2.6rem;
    }
    @include desktop {
      padding-bottom: 2rem;
      font-size: 3rem;
    }
    @include large-desktop {
      font-size: 3rem;
    }
  }
  p {
    font-family: 'Lato', sans-serif;
    color: rgb(61, 61, 61);
    // font-family: 'Cormorant Garamond', serif, 'Spectral', serif;
    @include phone {
      font-size: 1.1rem;
    }
    @include tablet-portrait {
      font-size: 1.2rem;
    }
    @include tablet-landscape {
      font-size: 1.3rem;
    }
    @include desktop {
      font-size: 1.4rem;
      line-height: 2.3rem;
    }
    @include large-desktop {
      font-size: 1.8rem;
      line-height: 2.7rem;
    }
  }
  a {
    h2 {
      transition: color 0.3s ease-out;
      &:hover {
        color: var(--hover-text-color);
      }
    }
  }
}
