* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  // scroll-padding-top: 2rem;
  overflow-y: scroll;
}

body {
  font-family: 'Urbanist', sans-serif;
  background-image: url('/src/img/h1-grain-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-size: 62.5;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200;
}

section {
  padding: 14rem 0;
  width: 100vw;
  max-width: 100%;
  // scroll-snap-align: start;
  // scroll-snap-stop: normal;
  // scroll-padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.7rem;
    width: 35rem;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.project-description {
  padding: 14rem;
  display: inline;
  color: rgb(66, 66, 66);
  a {
    transition: color 0.3s ease-out;
    &:hover {
      color: rgb(201, 47, 47);
    }
  }
}
