* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  // scroll-padding-top: 2rem;
  overflow-y: scroll;
}

body {
  font-family: 'Urbanist', sans-serif;
  background-image: url('/src/img/h1-grain-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

section {
  padding: 14rem 0;
  width: 100vw;
  max-width: 100%;
  // scroll-snap-align: start;
  // scroll-snap-stop: normal;
  // scroll-padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.project-description {
  padding: 7vw;
  color: rgb(66, 66, 66);
  max-width: 60rem;
  h4 {
    font-size: 4rem;
    padding-bottom: 2rem;
  }
  p {
    font-size: 1.8rem;
  }
  a {
    transition: color 0.3s ease-out;
    &:hover {
      color: rgb(201, 47, 47);
    }
  }
}
