@import 'document-style.scss';
@import 'navigation.scss';
@import '/src/scss/components/scroll-animations.scss';
@import '/src/scss/components/footer.scss';
@import '/src/scss/components/artworksPreview.scss';

.project-description {
  margin: 6rem 2rem;

  max-width: 40%;
  @include phone {
    min-width: 55%;
    margin: 2rem 1rem;
    padding: 1rem;
  }
}

.books-about-project {
  padding: 0;
  margin-bottom: 2rem;
  @include phone {
    margin-top: 6rem;
  }
  .container {
    justify-content: space-evenly;
    overflow: hidden;
    // @include phone {
    //   flex-direction: column-reverse;
    // }
    .project-description {
      @include phone {
        position: absolute;
        text-align: center;
        z-index: 1;
        h2 {
          color: white;
        }
        p {
          color: white;
        }
      }
    }
    .book-preview-photo {
      border-bottom-left-radius: 25rem;
      border-bottom-right-radius: 25rem;
      padding-top: 2rem;
      //scale: 130%;
      @include phone {
        width: 100%;
        filter: brightness(55%);
        border-radius: 0;
        padding-top: 0;
      }
      @include tablet-portrait {
        height: 50vh;
      }

      @include desktop {
        height: 90vh;
      }
      @include large-desktop {
        height: 90vh;
      }
    }
  }
}

.about-books {
  padding-top: 0;
  padding-bottom: 15rem;
  overflow: hidden;
  @include phone {
    padding: 0rem;
  }
  .container {
    padding: 2.5rem 0;
    @include tablet-portrait {
      padding: 1rem 0;
    }
    @include desktop {
      padding: 4rem 0;
    }
  }
  .diagrams-container {
    position: relative;
    justify-content: space-between;
    object-fit: cover;
    .diagrams-background {
      position: absolute;
      top: 2rem;
      padding-right: 2rem;
      @include phone {
        top: 4rem;
        width: 45%;
      }
      @include tablet-portrait {
        width: 40%;
        top: 5rem;
      }
      @include desktop {
        width: 40%;
      }
      @include large-desktop {
        top: 3rem;
        width: 37%;
      }
    }
  }

  .dreams-container {
    justify-content: none;
    align-items: center;
    overflow: hidden;

    .dream-book-background {
      position: absolute;
      right: 2rem;
      transition: transform 1.5s ease-in;
      width: 9rem;
      @include phone {
        right: 0.7rem;
      }
      @include tablet-portrait {
        width: 33%;
      }
      @include desktop {
        width: 35%;
      }
      &:hover {
        transform: rotate(140deg);
      }
    }
  }

  .psycho-container {
    position: relative;
    justify-content: space-between;

    .project-description {
      margin-right: 6rem;
      @include phone {
        margin-right: 0;
      }
    }
    .psycho-background {
      position: absolute;
      top: 30%;
      border-top-right-radius: 40rem;
      @include phone {
        top: 30%;
        width: 40%;
      }
      @include tablet-portrait {
        width: 40%;
      }
      @include tablet-landscape {
        width: 44%;
      }

      @include desktop {
        width: 40%;
      }
      @include large-desktop {
        width: 50rem;
      }
    }
  }
}

.section-book {
  position: relative;
  @include phone {
    margin: 0;
    padding: 0;
    height: 30rem;
  }
  @include tablet-portrait {
    height: 45rem;
  }

  @include desktop {
    height: 73rem;
    margin-top: 15rem;
    margin-bottom: 15rem;
  }
  @include large-desktop {
    margin-top: 0rem;
    margin-bottom: 5rem;
  }

  .arrow {
    padding: 0rem;
    position: absolute;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    display: flex;
    z-index: 1;
    svg {
      padding: 0.8rem;
      width: 4rem;
      height: 4rem;
      background-color: rgba(158, 156, 156, 0.613);
      color: rgb(9, 9, 9);
      transition: all 0.3s ease-in-out;
      @include phone {
        padding: 0.4rem;
        background-color: rgba(158, 156, 156, 0.299);
        width: 3rem;
      }
      &:hover {
        background-color: rgba(94, 94, 94, 0.613);
        cursor: pointer;
        color: rgb(75, 207, 255);
      }
    }
    &.arrow-next {
      right: 0rem;
      @include phone {
        right: 0rem;
      }
    }

    &.arrow-prev {
      display: none;
      left: 0rem;
      @include phone {
        left: 0rem;
      }
    }
  }
  .carousel-container {
    width: 75%;
    height: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50.6%, -50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include phone {
      position: relative;
      transform: translate(0, 0);
      top: 0;
      width: 66%;
      min-width: 272px;
      justify-content: center;
      height: 24rem;
      left: 0;
    }

    .cards {
      display: flex;
      pointer-events: none;
      position: absolute;
      left: 0;
      transition: all 0.3s;
      .card {
        margin: 2rem;
        height: 30rem;
        box-shadow: 2px 2px 11px rgba(207, 206, 206, 0.784);
        border-radius: 1rem;
        @include phone {
          height: 17rem;
        }
        @include tablet-portrait {
          margin: 2rem;
          height: 20rem;
        }
        @include desktop {
          margin: 2rem;
          height: 30rem;
        }
        img {
          border-radius: 11px;
          height: 100%;
        }
      }
    }
  }
}

.dream-video {
  @include desktop {
    padding-top: 3rem;
  }
  .container {
    justify-content: center;

    overflow: hidden;
    .project-description {
      text-align: center;
      position: absolute;
      color: white;
      h2 {
        color: white;
      }
    }
    video {
      border-bottom-right-radius: 10rem;
      @include phone {
        width: 50rem;
      }
      @include tablet-landscape {
        max-width: 100%;
        width: 50rem;
      }
      @include desktop {
        max-width: 100%;
        width: 75rem;
      }
      @include large-desktop {
        max-width: 100%;
        width: 90rem;
      }
    }
  }
}

.artwork-gallery {
  padding-top: 0;
  .project-description {
    text-align: center;
    max-width: 30rem;
    margin: 0;

    @include desktop {
      padding-bottom: 6rem;
      max-width: 60rem;
    }
  }
  .container {
    margin-top: 2rem;
    img {
      @include phone {
        width: 10rem;
        height: 15rem;
      }
      @include tablet-portrait {
        border-radius: 4rem;
      }
      @include desktop {
        width: 26rem;
      }
    }
  }
}
