@import 'document-style.scss';
@import 'navigation.scss';

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  img {
    width: 800px;
    height: auto;
  }
}
.project-description {
  margin: 10rem;
}

.books-about-project {
  padding: 0;
  .container {
    overflow: hidden;
    .book-preview-photo {
      border-top-left-radius: 2rem;
      width: 70rem;
      scale: 130%;
    }
  }
}

.about-books {
  padding-top: 0;
  .container {
    padding: 5.5rem 0;
  }
  .diagrams-container {
    justify-content: space-between;
    .diagrams-background {
      width: 60rem;
      height: 60rem;
      background-image: url('/src/img/dream-page/hq-waves-transparent.png');
      border-top-right-radius: 40rem;
    }
  }

  .dreams-container {
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .project-description {
      margin-left: 20rem;
    }
    .dream-book-background {
      width: 55rem;
      height: 55rem;
      transform: translateX(55%);
      background-size: cover;
      background-image: url('/src/img/dream-page/h1-kula.png');
      transition: transform 0.5s ease-in;
      &:hover {
        transform: rotate(180deg);
      }
    }
  }

  .psycho-container {
    justify-content: space-between;
    .psycho-background {
      width: 50rem;
      height: 50rem;
      background-image: url('/src/img/dream-page/hq-psycho-transparent.png');
      background-size: cover;
      background-position: center;
      border-top-right-radius: 40rem;
    }
  }
}

.section-book {
  .book-carousel-container {
    display: flex;
    justify-content: space-evenly;
    transition: transform 1s ease-out;
    overflow: hidden;
    &.change-position {
      transform: translateX(50%);
    }
    .card {
      margin: 3rem;
      img {
        width: 60rem;
        border-radius: 2rem;
      }
    }
  }
}

.dream-video {
  .container {
    justify-content: center;
    overflow: hidden;
    video {
      width: 75rem;
      border-bottom-right-radius: 10rem;
    }
  }
}

.dream-photo-gallery {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    img {
      margin: 2rem;
      border-radius: 1rem;
      width: 22rem;
      &:hover {
        scale: 110%;
      }
    }
  }
}
