@import 'document-style.scss';
@import 'navigation.scss';
@import '/src/scss/components/scroll-animations.scss';

.project-description {
  margin: 10rem;
}

.books-about-project {
  padding: 0;
  .container {
    overflow: hidden;
    .book-preview-photo {
      border-top-left-radius: 2rem;
      width: 70rem;
      //scale: 130%;
    }
  }
}

.about-books {
  padding-top: 0;
  .container {
    padding: 5.5rem 0;
  }
  .diagrams-container {
    justify-content: space-between;
    .diagrams-background {
      width: 60rem;
      height: 60rem;
      background-image: url('/src/img/dream-page/hq-waves-transparent.png');
      border-top-right-radius: 40rem;
    }
  }

  .dreams-container {
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .project-description {
      margin-left: 20rem;
    }
    .dream-book-background {
      width: 55rem;
      height: 55rem;
      background-size: cover;
      background-image: url('/src/img/dream-page/h1-kula.png');
      transition: transform 1.5s ease-in;
      &:hover {
        transform: rotate(140deg);
      }
    }
  }

  .psycho-container {
    justify-content: space-between;
    .psycho-background {
      width: 50rem;
      height: 50rem;
      background-image: url('/src/img/dream-page/hq-psycho-transparent.png');
      background-size: cover;
      background-position: center;
      border-top-right-radius: 40rem;
    }
  }
}

.section-book {
  margin-bottom: 15rem;
  margin-top: 10rem;
  position: relative;

  .carousel-arrow {
    position: absolute;
    right: 15%;
    z-index: 1000;
    width: 50px;
    height: 50px;
    background-color: rgb(10, 21, 17);
  }

  .carousel-container {
    width: 90%;
    height: 40rem;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    .cards {
      display: flex;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;

      .card {
        margin: 2rem;
        border-radius: 5px;

        img {
          border-radius: 1rem;
          width: 70rem;
          height: auto;
        }
      }
    }
  }
}

.dream-video {
  .container {
    justify-content: center;
    overflow: hidden;
    video {
      max-width: 100%;
      width: 75rem;
      border-bottom-right-radius: 10rem;
    }
  }
}

.dream-photo-gallery {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    img {
      margin: 1rem;
      width: 24rem;
      transition: scale 0.3s ease-out;
      &:hover {
        //scale: 110%;
      }
    }
  }
}
