@import 'document-style.scss';
@import 'navigation.scss';
@import '/src/scss/components/scroll-animations.scss';

.about-project {
  flex-wrap: wrap;
  overflow: hidden;
  padding-top: 8rem;
  .container {
    justify-content: space-around;
    img {
      width: 50vw;
      border-bottom-right-radius: 10rem;
      border-top-left-radius: 10rem;
    }
  }
}

.fox-about-technique {
  max-width: 100vw;
  overflow: hidden;
  flex-wrap: wrap;
  .project-description {
    img {
      width: 30vw;
    }
  }

  .fox-heads-container {
    position: absolute;
    right: 10rem;
    .fox-head {
      width: 20vw;
      height: 40rem;
      opacity: 89%;
      background-position: center;
      background-size: cover;

      &.fox-head-sketch {
        background-image: url('/src/img/fox-page/sketch-foxhead.png');
      }

      &.fox-head-simple {
        background-image: url('/src/img/fox-page/foxhead-simple.png');
      }

      &.fox-head-whisker {
        background-image: url('/src/img/fox-page/foxhead.png');
      }
    }
  }
}

.fox-gallery {
  flex-wrap: wrap;
  overflow: hidden;
  .container {
    max-width: 80vw;
    justify-content: center;
    img {
      width: 25vw;
      // border-radius: 2rem;
      object-fit: cover;
      transition: scale 0.4s ease-in;
      &:hover {
        //scale: 90%;
      }
    }
  }
}
