.header {
  margin-bottom: 10rem;
  height: 100vh;
  width: 100%;
  // scroll-snap-align: start;
  // scroll-snap-stop: normal;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;

  // .background-container {
  //   margin-top: 20vh;
  //   margin-left: 14rem;
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  //   align-items: flex-start;
  //   width: 39%;
  //   height: 80%;
  //   .header-background {
  //     width: 50%;
  //     background-position: center;
  //     background-attachment: fixed;
  //     background-size: 10%;

  //     &.forest {
  //       height: 90%;
  //       margin-right: -100rem;
  //       width: 40%;
  //       border-radius: 13rem;
  //       background-size: cover;
  //       background-image: url('/src/img/hq-bambo-vertical.jpg');
  //     }
  //     &.animal {
  //       height: 44%;
  //       width: 46%;
  //       border-top-right-radius: 13rem;
  //       border-bottom-right-radius: 13rem;
  //       background-size: contain;
  //       background-image: url('/src/img/hq-goat2.jpg');
  //     }
  //   }
  // }

  .header-text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url('/src/img/hq-bamboo.jpg');
    background-position: center;
    background-size: cover;
    // border-bottom-left-radius: 30rem;
    h1 {
      text-align: center;
      max-width: 40rem;
      font-weight: 400;
      color: rgb(240, 238, 238);
      @include phone {
        font-size: 2rem;
      }
      @include tablet-portrait {
        font-size: 3rem;
      }
      @include tablet-landscape {
        font-size: 5rem;
      }
      @include desktop {
        font-size: 7rem;
      }
    }
    p {
      text-align: end;
      color: rgb(241, 240, 240);
      @include phone {
        font-size: 1.4rem;
      }
      @include tablet-portrait {
        font-size: 2.2rem;
      }
      @include tablet-landscape {
        font-size: 3rem;
      }
      @include desktop {
        font-size: 3.4rem;
      }
    }
  }
}
