@import '/src/scss/components/navbar-dropdown.scss';
@import 'src/scss/components/action-animations.scss';
.nav-animation {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: nav-animation;
}

.nav-animation-reverse {
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-name: nav-show-animation;
}

@keyframes nav-show-animation {
  from {
    top: -40rem;
  }
  to {
    top: 0;
  }
}

@keyframes nav-animation {
  from {
    top: 0;
  }
  to {
    top: -40rem;
  }
}

.nav {
  &.hide-nav {
    display: none;
  }
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 2px 2px 10px rgba(159, 159, 159, 0.132);

  .nav-bar {
    display: flex;
    position: relative;
    height: 5.5rem;
    width: 100%;
    background-color: rgb(244, 239, 239);
    @include phone {
      justify-content: space-around;
    }
    @include tablet-portrait {
      padding-left: 6rem;
      padding-right: 6rem;
      justify-content: space-between;
      height: 6rem;
    }
    @include desktop {
      justify-content: center;
      height: 6rem;
    }

    .home {
      display: flex;
      align-items: center;

      left: 0;
      left: 2em;
      a {
        img {
          width: 2rem;
          height: 2rem;
        }
      }
      @include tablet-portrait {
        a {
          img {
            width: 2.8rem;
            height: 2.8rem;
          }
        }
      }
      @include desktop {
        position: absolute;
        top: 50%;
        left: 7rem;
        transform: translateY(-40%);
      }
    }
    .nav-text {
      display: flex;
      align-items: center;
      height: 100%;
      font-weight: 400;
      font-size: 1.5rem;
      max-width: 60rem;

      @include phone {
        font-size: 21px;
      }
      @include tablet-portrait {
        font-size: 22px;
      }

      @include tablet-landscape {
        font-size: 23px;
      }

      @include desktop {
        font-size: 20px;
      }

      @include large-desktop {
        font-size: 22px;
      }

      // .burger-icon {
      //   padding: 1rem;
      //   @include tablet-portrait {
      //     width: 70px;
      //     height: 70px;
      //   }
      //   @include desktop {
      //     display: none;
      //   }
      // }

      a {
        padding: 1.2rem;
        text-decoration: none;
        color: rgb(83, 83, 83);
        transition: color 0.4 ease-out;
        &:hover {
          color: rgb(190, 133, 123);
        }
      }
    }
  }
  .desktop-links {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @include phone {
      display: none;
    }
    @include tablet-portrait {
      display: none;
    }
    @include desktop {
      display: flex;
    }
  }
  li {
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
  }
}
