@import 'document-style.scss';
@import 'navigation.scss';
@import '/src/scss/components/scroll-animations.scss';
@import '/src/scss/components/gallery.scss';
@import '/src/scss/components/footer.scss';

.about-photos {
  justify-content: end;
  position: relative;
  margin-bottom: 5rem;
  @include phone {
    justify-content: center;
    margin-bottom: 2rem;
    padding-top: 7rem;
  }
  .project-description {
    color: white;
    h2 {
      color: white;
      @include desktop {
        color: black;
      }
    }
    @include phone {
      position: absolute;
      text-align: center;
    }
    @include tablet-portrait {
      position: absolute;
      text-align: end;
      margin-right: 3.1rem;
    }
    @include desktop {
      color: black;
      position: static;
      text-align: left;
      margin-right: 0rem;
    }
  }
  @include tablet-portrait {
    padding-bottom: 0;
  }
  img {
    border-bottom-left-radius: 20rem;
    width: 98vw;
    object-fit: cover;
    @include phone {
      width: 100vw;
      height: 50vh;
      filter: brightness(80%);
      border-radius: 0;
    }
    @include tablet-portrait {
      width: 90vw;
      height: 47vh;
    }
    @include desktop {
      height: 100%;
      width: 50vw;
    }
    @include large-desktop {
      width: 58vw;
    }
  }
}

.photo-gallery {
  position: relative;
  justify-content: space-evenly;
  align-items: start;
  @include desktop {
    justify-content: end;
  }
  .preview-image-container {
    display: flex;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.596);

    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 500;

    @include tablet-portrait {
      transform: translateY(0%);
    }
    @include desktop {
      transform: translateX(-50%);
    }
    .exit-icon {
      padding: 1rem;
      width: 3.5rem;
      height: 3.5rem;
      color: white;
      position: absolute;
      top: 1rem;
      right: 1rem;
      &:hover {
        color: red;
      }
    }
    @include phone {
      display: none;
    }
    @include tablet-portrait {
      display: none;
    }
    @include desktop {
      background-color: transparent;
      justify-content: space-around;
      top: 10%;
      width: 30vw;
      display: flex;
      @include desktop {
        display: flex;
        position: sticky;
      }
    }
  }
  .preview-image {
    display: flex;
    object-fit: cover;
    margin-right: 0rem;
    // background-image: url('/src/img/hq-goat.jpg');
    width: 80vw;
    border-radius: 1rem;
    @include phone {
      min-height: 40vh;
      max-height: 66vh;
    }
    @include tablet-portrait {
      width: 70vw;
      max-height: 80vh;
      transform: translateY(0%);
    }
    @include tablet-landscape {
      width: 58vw;
      max-height: 80vh;
    }
    @include desktop {
      height: 82vh;
      display: flex;
      max-width: 40vw;
    }
  }
}

.show-image-container {
  display: flex !important;
}

.stop-scrolling {
  overflow: hidden;
  @include phone {
    margin-right: 0px;
  }
  @include tablet-portrait {
    margin-right: 16px;
  }
}
