@import 'document-style.scss';
@import 'navigation.scss';
@import '/src/scss/components/scroll-animations.scss';
@import '/src/scss/components/gallery.scss';

.about-photos {
  img {
    border-bottom-left-radius: 20rem;
    width: 58vw;
  }
}

.photo-gallery {
  position: relative;
  justify-content: space-evenly;
  align-items: start;
  .preview-image-container {
    position: sticky;
    display: flex;
    top: 10%;
    width: 40vw;
    justify-content: center;
    z-index: 1000;
    .preview-image {
      position: sticky;
      top: 10%;
      object-fit: cover;
      margin-right: 0rem;
      // background-image: url('/src/img/hq-goat.jpg');
      max-width: 40vw;
      height: 82vh;
      border-radius: 1rem;
    }
  }
}
